@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-notojp;
    }
}

.bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.54), rgba(0, 0, 255, 0.507));
    background-size: 200vw;
    background-position: center;
}

*, html {

    scroll-behavior: smooth !important;
}
